*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: "Preconnect", sans-serif;
    color: #212121;
    letter-spacing: 0.9px;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

:root {
    --cetaceanblue: #00093C;
    --balck: #000000;
    --background: linear-gradient(0deg, #F7941D 0%, #27AAE1 100%);
    --white: #FFFFFF;
    --darkliver: #4F4F4F;
    --chinesewhite: #E0E0E0;
    --lavenderblush: #FFEEF6;
    --lavenderblue: #C5DDFF;
    --magicmint: #B8EFCF;
    --flavescent: #FFE38E;
    --mellowapricot: #F7BC75;
    --pastelorange: #FFAE4D;
    --beer: #F7941D;
    --batterychargedblue: #27AAE1;
    --darkcharcoal: #333333;
    --grayx11: #BDBDBD;
    --cultured: #F6F7F9;
    --padding: 2%;
    --fontweight: 700;
    --fontsize: 18px;
    --radius: 20px;
}

.bg-darkblue {
    background-color: var(--cetaceanblue);
}

.bg-gray {
    background-color: var(--cultured);
}

.section1-bg {
    background-image: url(../images/section1_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;

}

a {
    text-decoration: none;
    color: var(--balck);
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
}

.bg-white {
    background-color: var(--white);
}

.header-block {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header-nav-description :first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.header-block-another {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header-block-city {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.header-block-down {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log-in a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.section1-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1-block-text {
    font-size: 35px;
    line-height: 43.88px;
    font-weight: var(--fontweight);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 70px;
}

.section1-block-text3 p {
    padding-top: 20px;
    font-size: 18px;
    line-height: 24.38px;
    color: var(--white);
    opacity: 0.9;
}

.section2-block {
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section2-block-left {
    position: relative;
}

.section2-block-img1 {
    position: absolute;
}

.section2-block-img2 {
    position: absolute;
    left: 10px;
}

.section2-left-text {
    padding: 9%;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.section2-block-right {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.section2-top-description {
    display: flex;
    flex-direction: row;
    gap: 200px;
    border-bottom: solid 1px var(--chinesewhite);
}

.active-section2 {
    border-bottom: solid 4px transparent;
    border-image: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    border-image-slice: 1;
}

.section2-top-return {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.section2-top-text h2 {
    font-size: var(--fontsize);
    line-height: 19.5px;
    font-weight: var(--fontweight);
    color: var(--balck);
}

.section2-top-text p {
    font-size: 12px;
    line-height: 14.63px;
    color: var(--darkliver);
}

.section2-bottom-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    transform: translateX(-20px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.section2-bottom-description :nth-child(6) button {
    width: 260px;
}

.section2-bottom-descriptions button {
    width: 150px;
    height: 54.24px;
    font-size: 14px;
    line-height: 17.07px;
    font-weight: 500;
    color: var(--balck);
    background-color: var(--white);
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: 1px solid transparent;
    position: relative;
    transition: 0.3s;
}

.section2-bottom-descriptions button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.section2-bottom-descriptions button:hover {
    transform: scale(1.1);
    box-shadow: 20 20 20 20linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    box-shadow: 0 0 10px rgba(247, 148, 29, 1), 0 0 15px rgba(39, 170, 225, 1);
}

.section3-block {
    padding: var(--padding);
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section3-block-top {
    position: relative;
    left: calc(85% - 780px);
}

.section3-block-top::after {
    content: "";
    position: absolute;
    background-color: var(--cetaceanblue);
    height: 436px;
    width: 780px;
    opacity: 0.5;
    left: calc(69% - 776px);
    border-radius: 20px;
}

.section3-block-bottom :hover {
    animation: button 1s infinite ease-in-out;
}

@keyframes button {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.section3-block-bottom {
    position: absolute;
    left: calc(54% - 99px);
    top: calc(70% - 99px);
    cursor: pointer;
}

.section4-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4-block-top {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.section4-block-top h2 {
    width: 779.92px;
    font-size: 24px;
    line-height: 34px;
    font-weight: var(--fontweight);
    color: var(--balck);
}

.section4-block-text1 {
    display: flex;
    flex-direction: row;
}

.section4-block-text1 :nth-child(2) {
    width: 250px;
}

.section4-block-text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section4-block-text2 h2 {
    width: 300px;
    font-size: 86px;
    line-height: 104.83px;
    font-weight: var(--fontweight);
    background: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section4-block-text2 p {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    color: var(--balck);
}

.section4-block-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4-top-bottom {
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color: var(--mellowapricot);
    flex-wrap: wrap;
    border-radius: 20px;
    padding: var(--padding);
    justify-content: space-between;
    align-items: center;
}

.section4-text1-bottom {
    width: 107.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--fontweight);
    color: var(--balck);
}

.section4-text1-bottom :first-child {
    font-size: 80px;
}

.section4-text1-bottom :last-child {
    font-size: 30px;
}

.section4-text2-bottom {
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.section4-text2-bottom h2 {
    width: 701.55px;
    font-size: 36px;
    line-height: 26px;
    font-weight: 500;
    color: var(--balck);

}

.section4-text2-bottom p {
    width: 584.75px;
    font-size: var(--fontsize);
    line-height: 26px;
    color: var(--darkcharcoal);
}

.section4-button1-bottom button {
    width: 222.45px;
    height: 60px;
    font-size: 14px;
    line-height: 26px;
    color: var(--balck);
    border-radius: 10px;
    border: solid 2px var(--balck);
    cursor: pointer;
    background-color: var(--mellowapricot);
}

.section4-button1-bottom button:hover {
    animation: button2 2s infinite;
}

@keyframes button2 {

    0%,
    100% {
        background-color: var(--pastelorange);
        transform: scale(0.9);
    }

    50% {
        background-color: var(--pastelorange);
        transform: scale(1);
    }
}

.section4-down-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section4-left-bottom {
    width: 480px;
    height: 460px;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    background-color: var(--lavenderblue);
    align-items: center;
    border-radius: 20px;
    gap: 30px;
}

.section4-right-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4-svg-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section4-svg-bottom h2 {
    font-size: 24px;
    line-height: 26px;
    color: var(--balck);
}

.section4-text3-bottom p {
    font-size: 16px;
    line-height: 24px;
    color: var(--darkcharcoal);
    text-align: center;
}

.section4-button2-bottom button {
    margin-top: 10%;
    width: 222.45px;
    height: 50.04px;
    font-size: 14px;
    line-height: 26px;
    color: var(--cetaceanblue);
    border-radius: 10px;
    border: solid 2px var(--cetaceanblue);
    background-color: var(--lavenderblue);
    cursor: pointer;
}

.section4-button2-bottom button:hover {
    animation: button3 2s infinite;
}

@keyframes button3 {

    0%,
    100% {
        background-color: var(--white);
        transform: scale(0.9);
    }

    50% {
        background-color: var(--white);
        transform: scale(1);
    }
}

.section4-right1-bottom {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section4-right1-block {
    padding: 4%;
    width: 330px;
    height: 220px;
    font-size: 24px;
    line-height: 26px;
    color: var(--balck);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--magicmint);
    border-radius: 20px;
}

.section4-right2-block {
    padding: 4%;
    width: 330px;
    height: 220px;
    font-size: 24px;
    line-height: 26px;
    color: var(--balck);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: var(--lavenderblush);
    border-radius: 20px;
}

.section4-right2-bottom {
    padding: 4%;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--flavescent);
    border-radius: 20px;
    gap: 30px;
}

.section4-text4-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section4-text4-bottom h2 {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    color: var(--balck);
}

.section4-text4-bottom p {
    width: 370px;
    font-size: 16px;
    line-height: 24px;
    color: var(--darkcharcoal);
}

.section5-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.section5-block-top h2 {
    font-size: 36px;
    line-height: 43.88px;
    font-weight: var(--fontweight);
    color: var(--white);
}

.section5-block-description {
    padding: var(--padding);
    width: 1100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
}

.section5-block-descriptions {
    padding: var(--padding);
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: min-content;
}

.section5-block-text1 {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.section5-block-text1 h2 {
    font-size: 14px;
    line-height: 17.07px;
    font-weight: var(--fontweight);
}

.section5-block-text1 p {
    font-size: 12px;
    line-height: 14.63px;
    color: var(--darkliver);
}

.section5-block-text3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--balck);
}

.section5-block-text2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section5-block-star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.section5-block-star img {
    cursor: pointer;
}

.section5-block-star p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--darkliver);
}

.section6-block {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section6-block-text h2 {
    font-size: 36px;
    line-height: 34px;
    font-weight: var(--fontweight);
    color: var(--balck);
}

.section6-block-description {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section6-block-descriptions {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.section6-block-descriptions img {
    width: 72.75px;
    height: 59.96px;
    cursor: pointer;
}

.section6-block-descriptions p {
    font-size: var(--fontsize);
    line-height: 26px;
    font-weight: 500;
    color: var(--balck);
}

.section6-block-form {
    padding: 4%;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 20px;
}

.section6-block-left {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 352px;
    flex-direction: column;
}

.section6-block-left h2 {
    position: relative;
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 600;
    color: var(--balck);
    z-index: 1;
}

.section6-block-left p {
    position: relative;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 600;
    color: var(--balck);
    z-index: 1;
}

.section6-bg :first-child {
    position: absolute;
    top: calc(50% - 107.23px);
    left: calc(21% - 420px);
}

.section6-bg img:first-child {
    width: 276.38px;
    height: 311.52px;
}

.section6-bg :last-child {
    position: absolute;
    top: calc(57% - 107.23px);
    left: calc(45% - 420px);
}

.section6-block-rght {
    width: 450px;
}

.section6-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section6-form input {
    padding: var(--padding);
    height: 50px;
    font-size: 14px;
    line-height: 17.07px;
    color: var(--darkliver);
    background-color: #00093C1A;
    border: none;
    border-radius: 6px;
}

.section6-form :first-child {
    width: 440px;
}

.form2 {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form2 :first-child {
    width: 210px;
}

.form2 :last-child {
    width: 210px;
}

.section6-text-form {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section6-text1-form p {
    width: 211.45px;
    font-size: 10px;
    line-height: 14px;
    color: var(--darkliver);
}

.section6-block-button button {
    width: 210px;
    height: 50.04px;
    font-size: 14px;
    line-height: 26px;
    font-weight: var(--fontweight);
    color: var(--white);
    background-color: var(--beer);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.section6-block-button button:hover {
    background-color: var(--pastelorange);
}

.footer-block {
    padding: var(--padding);
    padding-top: 40px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-block-left {
    width: 202px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-text1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-text2 h2 {
    font-size: var(--fontsize);
    line-height: 26px;
    font-weight: 600;
    color: var(--white);
}

.footer-text3 p {
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    color: var(--white);
}

.footer-svg {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-svg img {
    cursor: pointer;
}

.footer-text4 p {
    font-size: 12px;
    line-height: 14.63px;
    color: var(--grayx11);
}

.footer-block-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.block1 {
    width: 150px;
}

.block2 {
    width: 267.09px;
}

.block3 {
    width: 186px;
}

.block4 {
    width: 115px;
}

.footer-description {
    display: flex;
    flex-direction: column;
}

.footer-descriptions h2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--fontweight);
    color: var(--white);
    cursor: pointer;
}

.footer-descriptions p {
    padding-top: 15px;
    font-size: 14px;
    line-height: 34px;
    color: var(--white);
    opacity: 0.5;
}